/* line 1, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
h3 {
  text-align: center;
}

/* line 5, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.buffer-1,
section.buffer-2 {
  height: 40vh;
  width: 25vw;
}

/* line 13, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form {
  font-size: 4vh;
}
/* line 15, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form p.current-state {
  font-style: italic;
  margin: 0;
  margin-bottom: 2vh;
}
/* line 20, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form select {
  background-color: grey;
  border: 0;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
/* line 31, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form select:focus {
  outline: none;
}
/* line 34, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form select:hover {
  background-color: #a0a0a0;
}
/* line 37, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form input#new_action_trigger_word {
  background-color: black;
  border: 0.6vh solid white;
  color: white;
  font-family: inherit;
  font-size: 4.5vh;
  height: 7vh;
  margin-top: 3vh;
  text-align: center;
}
/* line 47, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form input#new_action_trigger_word:focus {
  outline: none;
}
/* line 50, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form input#new_action_trigger_word::placeholder {
  color: #a0a0a0;
  text-align: center;
}
/* line 54, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form input[value="Create Connection"] {
  background-color: grey;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 3.5vh;
  margin-top: 4vh;
}
/* line 63, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section.new-action-form div#add-action-form form input[value="Create Connection"]:hover {
  background-color: white;
  color: black;
}

/* line 70, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section#existing-connections {
  height: 42vh;
  width: 25vw;
}
/* line 73, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section#existing-connections p.current-state {
  font-style: italic;
}
/* line 76, /vagrant/textVENTURE/app/assets/stylesheets/connections.scss */
section#existing-connections h3 {
  font-size: 3vh;
}
/* line 2, /vagrant/textVENTURE/app/assets/stylesheets/flash_message.scss */
.notice {
  margin-right: 2vw;
  color: tomato;
  padding: 0.5vh;
  border: 0.3vh solid tomato;
  animation: notice 1s 1;
  -webkit-animation: notice 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes notice {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes notice {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*// Place all the styles related to the games controller here.*/
/* line 4, /vagrant/textVENTURE/app/assets/stylesheets/games.scss */
form {
  display: block;
  text-align: center;
}
/* line 8, /vagrant/textVENTURE/app/assets/stylesheets/games.scss */
form input#user_input_game_name {
  background-color: black;
  border: 0.6vh solid white;
  color: white;
  font-family: inherit;
  font-size: 3.5vh;
  height: 5vh;
  width: 65vw;
}
/* line 17, /vagrant/textVENTURE/app/assets/stylesheets/games.scss */
form input#user_input_game_name:focus {
  outline: none;
}
/* line 1, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
h2 {
  text-align: center;
}

/* line 4, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
/* line 9, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
}
/* line 14, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form input#new_game_game_title,
div.container section form input#new_game_state_name,
div.container section form input#add_states_state_name {
  background-color: black;
  border: 0.6vh solid white;
  color: white;
  font-family: inherit;
  font-size: 3.5vh;
  height: 7vh;
  margin: 1vh;
  width: 30vw;
}
/* line 27, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form input#new_game_game_title:focus,
div.container section form input#new_game_state_name:focus,
div.container section form input#add_states_state_name:focus,
div.container section form textarea#new_game_beginning_state:focus,
div.container section form textarea#add_states_state_description:focus {
  outline: none;
}
/* line 35, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form textarea#new_game_beginning_state,
div.container section form textarea#add_states_state_description {
  background-color: black;
  border: 0.6vh solid white;
  color: white;
  font-family: inherit;
  font-size: 2.8vh;
  height: 20vh;
  margin: 1vh;
  width: 30vw;
}
/* line 47, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form input[value="Start"],
div.container section form input[value="Create State"] {
  align-self: center;
  background-color: grey;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 3.5vh;
  height: 7vh;
  margin-top: 1vh;
  width: 13vw;
}
/* line 61, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container section form input[value="Start"]:hover,
div.container section form input[value="Create State"]:hover {
  background-color: white;
  color: black;
}
/* line 69, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar {
  border: 0.6vh solid white;
  position: relative;
}
/* line 73, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar {
  height: 42vh;
  margin: auto;
  margin-top: 2vh;
  overflow-y: scroll;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 15vw;
}
/* line 82, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar header.sidebar-header {
  background-color: black;
  position: fixed;
  width: 15vw;
}
/* line 87, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar header.sidebar-header h3 {
  margin: 0;
}
/* line 92, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar div.states-list {
  margin-bottom: 7vh;
  margin-top: 6vh;
}
/* line 95, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar div.states-list ul {
  padding-left: 1vw;
  padding-right: 1vw;
}
/* line 98, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar div.states-list ul a {
  color: white;
  text-decoration: none;
}
/* line 102, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container aside#states-sidebar section.states-sidebar div.states-list ul a:hover {
  opacity: .5;
}
/* line 109, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container a.add-new-state-link {
  background-color: grey;
  bottom: 1vh;
  color: white;
  left: 1vw;
  margin-top: 1vw;
  padding: 0.6vw;
  position: absolute;
  right: 1vw;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 13.8vw;
}
/* line 124, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container a.add-new-state-link:hover {
  background-color: white;
  color: black;
}
/* line 130, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container a.start-connecting-link {
  background-color: grey;
  color: white;
  margin: 1vw;
  padding: 0.6vw;
  text-decoration: none;
  white-space: nowrap;
}
/* line 138, /vagrant/textVENTURE/app/assets/stylesheets/games_new.scss */
div.container a.start-connecting-link:hover {
  background-color: white;
  color: black;
}
/*//homepage-level general styles*/
/* line 4, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body {
  background-color: black;
  color: white;
  cursor: default;
  font-family: 'Roboto Mono', monospace;
}
/* line 10, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body header {
  display: flex;
  position: relative;
  text-align: left;
  justify-content: space-between;
  align-items: baseline;
}
/* line 17, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body header h1 {
  margin-left: 2vw;
}
/* line 22, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body footer {
  bottom: 0;
  height: 8vh;
  position: fixed;
  width: 100vw;
}
/* line 27, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body footer h6 {
  display: inline-block;
  margin: 0;
  padding-top: 4vh;
}
/* line 33, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body footer a.new-game-link {
  color: white;
  float: right;
  margin-right: 2vw;
  padding-top: 2vh;
  text-decoration: none;
}
/* line 40, /vagrant/textVENTURE/app/assets/stylesheets/main.scss */
body footer a.new-game-link:hover {
  opacity: .5;
}
/* line 3, /vagrant/textVENTURE/app/assets/stylesheets/states-show.scss */
div.container.state-show div.state-info {
  border: 0.6vh solid white;
  height: 42vh;
  width: 40vw;
  text-align: center;
}
/* line 9, /vagrant/textVENTURE/app/assets/stylesheets/states-show.scss */
div.container.state-show div.state-info p.state-name {
  font-size: 3vh;
}
/* line 13, /vagrant/textVENTURE/app/assets/stylesheets/states-show.scss */
div.container.state-show div.state-info p.state-body {
  margin: 1vw;
  margin-top: 4vh;
}
/*// Place all the styles related to the states controller here.*/
/* line 4, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section {
  margin-top: 5vh;
}
/* line 7, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section #state-log {
  border: 0.6vh solid white;
  display: flex;
  flex-direction: column-reverse;
  font-size: 3.5vh;
  height: 55vh;
  margin: 0 auto;
  overflow-y: auto;
  width: 65vw;
}
/* line 17, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section #state-log #state-content {
  margin-left: 2vw;
  margin-top: 2vh;
}
/* line 22, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section form {
  display: block;
  text-align: center;
}
/* line 26, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section form input#user_input_trigger {
  background-color: black;
  border: 0.6vh solid white;
  color: white;
  font-family: inherit;
  font-size: 3.5vh;
  height: 5vh;
  width: 65vw;
}
/* line 35, /vagrant/textVENTURE/app/assets/stylesheets/states.scss */
section form input#user_input_trigger:focus {
  outline: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import 'main';
@import 'states';
@import 'games';
@import 'flash_message';
@import 'games_new';
@import 'connections';
@import 'states-show';

