<section>
  <div id="state-log">
    <div id="state-content" data-react-props="<%= @log.to_json %>"></div>
  </div>
  <br>
  <%= form_for :user_input, url: "/", method: 'POST' do |f| %>
    <%= f.text_field :trigger, autocomplete: 'off', spellcheck: 'false', autofocus: 'true' %>
    <%= f.hidden_field :state_id, value: @state_id %>
  <% end %>
</section>