<section>
  <% @log.each do |log| %>
    <div>> <%= log %></div>
    <br>
  <% end %>
  <%= form_for :user_input, url: "/", method: 'POST' do |f| %>
    <%= f.text_field :trigger %>
    <%= f.hidden_field :state_id, value: @session %>
  <% end %>
</section>
