<section>
  <div id="state-log">
    <div id="state-content">
      > <%= @state.description %>
    </div>
  </div>
  <br>
  <%= form_for :user_input, url: "/", method: 'POST' do |f| %>
    <%= f.text_field :trigger %>
    <%= f.hidden_field :state_id, value: @session %>
  <% end %>
</section>
