<section>
  <div id="state-log">
    <div id="state-content"></div>
  </div>
  <br>
  <%= form_for :user_input, url: "/", method: 'POST' do |f| %>
    <%= f.text_field :trigger, autocomplete: 'off', spellcheck: 'false', autofocus: 'true' %>
    <%= f.hidden_field :state_id, value: @session %>
  <% end %>
</section>


<%= content_tag :div,
  id: 'log',
  data: @log.to_json do %>
<% end %>