<section>
  <div id="state-log">
    <div id="state-content">
      <% @log.each do |log| %>
    <div>> <%= log %></div>
    <br>
    <% end %>
    </div>
  </div>
  <br>
  <%= form_for :user_input, url: "/games", method: 'POST' do |f| %>
    <%= f.text_field :game_name, autocomplete: 'off', spellcheck: 'false', autofocus: 'true' %>
  <% end %>
</section>