<section>
  <div class="state-info">
    <% @state = State.find_by(game_id: params[:new_id], id: params[:state_id]) %>
    <h2><%= @state.name %></h2>
    <p><%= @state.description %></p>
  </div>
</section>