$border: 0.6vh solid white;

h3 {
  text-align: center;
}

section.buffer-1,
section.buffer-2 {
  height: 40vh;
  width: 25vw;
}

section.new-action-form {
  div#add-action-form {
    display: inline-flex;
    flex-direction: column;
    form {
      font-size: 4vh;
      width: 30vw;
      p.current-state {
        font-style: italic;
        margin: 0;
        margin-bottom: 2vh;
      }
      select {
        background-color: grey;
        border: 0;
        border-radius: 0;
        color: white;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 3vh;
        margin-top: 3vh;
      }
      select:focus{
        outline: none;
      }
      select:hover {
        background-color: #a0a0a0;
      }
      input#new_action_trigger_word,
      input#new_action_action_desc {
        background-color: black;
        border: $border;
        color: white;
        font-family: inherit;
        font-size: 4.5vh;
        height: 7vh;
        margin-top: 3vh;
        text-align: center;
      }
      input#new_action_trigger_word:focus,
      input#new_action_action_desc:focus
       {
        outline: none;
      }
      input#new_action_trigger_word::placeholder {
        color: #a0a0a0;
        text-align: center;
      }
      input#new_action_action_desc::placeholder {
        font-size: 2.4vh;
      }
      label {
        font-size: 2.4vh;
        margin-top: 3vh;
      }
      input[value="Create Connection"] {
        background-color: grey;
        border: 0;
        color: white;
        cursor: pointer;
        font-family: inherit;
        font-size: 3.5vh;
        height: 7vh;
        margin-top: 4vh;
      }
      input[value="Create Connection"]:hover {
        background-color: white;
        color: black;
      }
      input[value="Publish Game"] {
        background-color: #97c1a8;
        border: none;
        color: white;
        cursor: pointer;
        font-family: inherit;
        font-size: 3vh;
        height: 7vh;
        margin-top: 1.5vh;
      }
      input[value="Publish Game"]:hover {
        background-color: #8ecca7;
      }
      input[value="Publish Game"]:focus {
        outline: none;
      }
      input[value="Discard Game"] {
        background-color: #ce6d6d;
        border: none;
        color: white;
        cursor: pointer;
        font-family: inherit;
        font-size: 3vh;
        height: 7vh;
        margin-top: 1.5vh;
        width: 30vw;
      }
      input[value="Discard Game"]:hover {
        background-color: #d35f5f;
      }
      input[value="Discard Game"]:focus {
        outline: none;
      }
    }
  }
}
section#existing-connections {
  height: 42vh;
  width: 25vw;
  p.current-state {
    font-style: italic;
  }
  h3 {
    font-size: 3vh;
  }
}

