/*// Place all the styles related to the games controller here.*/
$border: 0.6vh solid white;

form {
  display: block;
  text-align: center;

  input#user_input_game_name {
    background-color: black;
    border: $border;
    color: white;
    font-family: inherit;
    font-size: 3.5vh;
    height: 5vh;
    width: 64vw;
    padding-left: 1vw;
  }
  input#user_input_game_name:focus {
    outline: none;
  }
}
