$border: 0.6vh solid white;

h2 {
  text-align: center;
}
div.container {
  align-items: center;
  display: flex;
  justify-content: space-around;

  section {
    form {
      display: inline-flex;
      flex-direction: column;
      margin: auto;

      input#new_game_game_title,
      input#new_game_state_name,
      input#add_states_state_name {
        background-color: black;
        border: $border;
        color: white;
        font-family: inherit;
        font-size: 3.5vh;
        height: 7vh;
        margin: 1vh;
        width: 30vw;
      }

      input#new_game_game_title:focus,
      input#new_game_state_name:focus,
      input#add_states_state_name:focus,
      textarea#new_game_beginning_state:focus,
      textarea#add_states_state_description:focus {
        outline: none;
      }

      textarea#new_game_beginning_state,
      textarea#add_states_state_description {
        background-color: black;
        border: $border;
        color: white;
        font-family: inherit;
        font-size: 2.8vh;
        height: 20vh;
        margin: 1vh;
        width: 30vw;
      }

      input[value="Start"],
      input[value="Create State"] {
        align-self: center;
        background-color: grey;
        border: 0;
        color: white;
        cursor: pointer;
        font-family: inherit;
        font-size: 3.5vh;
        height: 7vh;
        margin-top: 1vh;
        width: 30vw;
      }

      input[value="Start"]:hover,
      input[value="Create State"]:hover {
        background-color: white;
        color: black;
      }
    }
  }

  aside#states-sidebar {
    border: $border;
    position: relative;

    section.states-sidebar {
      height: 42vh;
      margin: auto;
      margin-top: 2vh;
      overflow-y: scroll;
      margin-left: 1vw;
      margin-right: 1vw;
      width: 15vw;

      header.sidebar-header {
        background-color: black;
        position: relative;
        width: 15vw;

        h3 {
          margin: 0;
        }
      }

      div.states-list {
        margin-bottom: 7vh;
        margin-top: 6vh;
        ul {
        padding-left: 1vw;
        padding-right: 1vw;
          a {
            color: white;
            text-decoration: none;
          }
          a:hover {
            opacity: .5;
          }
        }
      }
    }
  }
  a.add-new-state-link {
    background-color: grey;
    bottom: 1vh;
    color: white;
    left: 1vw;
    margin-top: 1vw;
    padding: 0.6vw;
    position: absolute;
    right: 1vw;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 13.8vw;
  }

  a.add-new-state-link:hover {
    background-color: white;
    color: black;
  }

  a.start-connecting-link {
    background-color: grey;
    color: white;
    margin: 1vw;
    padding: 0.6vw;
    text-decoration: none;
    white-space: nowrap;
  }
  a.start-connecting-link:hover {
    background-color: white;
    color: black;
  }
  div.helper-sidebar {
    border: $border;
    max-width: 30vw;
    opacity: 0.5;

    header.help-header {
      h3 {
        font-size: 2.5vh;
        margin-left: 1vw;
      }
    }
    ul {
      font-size: 2vh;
      margin-top: 0;
      padding-left: 1vw;
      li {
        list-style: none;
        padding: 0.6vh;
      }
      li:before {
        content: "> ";
      }
      i {
        font-size: 2.3vh;
      }
    }
  }
}




