/*// Place all the games related to the states controller here.*/

form {
  display: block;
  text-align: center;

  input#user_input_game_name {
    background-color: black;
    border: 0.6vh solid white;
    color: white;
    font-family: inherit;
    font-size: 3.5vh;
    height: 5vh;
    width: 65vw;
  }
  input#user_input_game_name:focus {
    outline: none;
  }
}
