/*//homepage-level general styles*/

body{
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;

  header {
  display: flex;
  position: relative;
  text-align: left;
  justify-content: space-between;
  align-items: baseline;

    h1 {
      margin-left: 2vw;
    }
  }

  footer {
  bottom: 0;
  height: 8vh;
  position: fixed;
  text-align: center;
  width: 100vw;
  }
}