/*//homepage-level general styles*/

body{
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;

  header {
  display: inline;
  position: relative;
  text-align: left;

    h1 {
      margin-left: 2vw;
    }
  }

  footer {
    bottom: 0;
    height: 8vh;
    position: fixed;
    width: 100vw;
    h6 {
      display: inline-block;
      margin: 0;
      padding-top: 4vh;
    }

    a.new-game-link {
      color: white;
      float: right;
      margin-right: 2vw;
      padding-top: 2vh;
      text-decoration: none;
    }
    a.new-game-link:hover {
      opacity: .5;
    }
  }
}