/*// Place all the styles related to the states controller here.*/

section {
  margin-top: 10vh;

  #state-log {
    border: 0.6vh solid white;
    display: flex;
    flex-direction: column-reverse;
    font-size: 4vh;
    height: 40vh;
    margin: 0 auto;
    overflow-y: auto;
    width: 50vw;

    #state-content {
      margin-left: 2vw;
      margin-top: 2vh;
    }
  }
  form {
    display: block;
    text-align: center;

    input#user_input_trigger {
      background-color: black;
      border: 0.6vh solid white;
      color: white;
      font-family: inherit;
      font-size: 4vh;
      height: 5vh;
      width: 50vw;
    }
    input#user_input_trigger:focus {
      outline: none;
    }
  }
}
