section.new-states-form {
  margin-top: 0;
  div.add-states-form {
    display: inline-flex;
    flex-direction: column;

    input[value="Publish Game"] {
      background-color: #97c1a8;
      border: none;
      color: white;
      cursor: pointer;
      font-family: inherit;
      font-size: 3vh;
      height: 7vh;
      margin-top: 1.5vh;
      width: 30vw;
    }
    input[value="Publish Game"]:hover {
      background-color: #8ecca7;
    }
    input[value="Discard Game"] {
      background-color: #ce6d6d;
      border: none;
      color: white;
      cursor: pointer;
      font-family: inherit;
      font-size: 3vh;
      height: 7vh;
      margin-top: 1.5vh;
      width: 30vw;
    }
    input[value="Discard Game"]:hover {
      background-color: #d35f5f;
    }
    input[value="Discard Game"]:focus {
      outline: none;
    }
  }
}