div.container.state-show {

  div.state-info{
    border: 0.6vh solid white;
    height: 42vh;
    width: 40vw;
    text-align: center;

    p.state-name {
      font-size: 3vh;
    }

    p.state-body {
      margin: 1vw;
      margin-top: 4vh;
    }
  }
}